.container {
    position: relative;
}

.content {
    display: flex;
    gap: 5vw;
}

.image {
    flex: 1;
    border: 5px dashed lightgrey;
}

.controlpanel {
    display: flex;
    flex-direction: column;
    gap: 8px; // Metin kutuları arasındaki boşluk
}

.textBox {
    width: 100%;
    padding: 8px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.placeholder {
    color: #888;
    padding: 16px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.buttonGroup {
    display: flex;
    max-width: 552px;
    gap: 8px;
    flex-wrap: wrap;
}

.button {
    padding: 8px;
    width: 100px;
    margin-right: 4px;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.loadingText {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 16px; // Spinner ile metin arasında boşluk
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bboxtextinput {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 2rem;

    button {
        height: 1.7rem;
    }
}